.nav-main{
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    /* /* margin-right: 20px; */
    margin-top: 20px; 
}

a{
    text-decoration: none;
    color: white;
}

@media (min-width:768px) {
    .nav-main{
        margin-left: 70px;
        margin-right: 70px;
    }
}