.main-footer{
    margin-bottom: 40px;
    margin-top: 40px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    
}

.footer-parent{
    width: 100%;
    margin-bottom: 100px;
}

.footer-parent span{
    width: 100%;
    background-color: aliceblue;
    height: 23px;
}

.contact-main{
    display: flex;
    justify-content: space-around;
    
}

.contact-main li{
    margin-bottom: 15px;
}
